<p>Hey there!</p>

<p>
  We're just emailing you to let you know that <strong><%= @comment.user.name %></strong> posted a comment in a conversation on your topic<strong><%= @comment.topic.title %></strong>.
</p>

<p>
  <blockquote>
    <%= @comment.text %>
    <div class="subject">&mdash; <%= @alert.subject.name %></div>
  </blockquote>
</p>

<div class="row center">
  <%= link_to 'Go to conversation', web_comment_url(@comment), :class => 'button' %>
</div>
