<p>Hey there!</p>

<p>
  We're just emailing you to let you know that <strong><%= @conversation.user.name %></strong> posted a <%= @conversation.conversation_type %> on your topic <strong><%= @conversation.topic.title %></strong>.
</p>

<p>
  <blockquote>
    <%= @conversation.title %>
  </blockquote>
</p>

<div class="row center">
  <%= link_to 'Go to conversation', web_conversation_url(@conversation), :class => 'button' %>
</div>
