<p>Hello <%= @topic.user.first_name %>!</p>

<p>
  <strong><%= "#{@user.first_name} #{@user.last_name}" %></strong> posted a <%= @conversation.conversation_type %> on the slide topic <strong><%= @topic.title %></strong>:
</p>

<p>
  <blockquote>
    <%= @conversation.title %>
  </blockquote>
</p>

<p><%= link_to 'View complete conversation', topic_url(@topic) %></p>
